<div class="gallery__group">
  <app-h2-title>Portfolio</app-h2-title>

  <div class="gallery__images">
    <app-card-image
      class="gallery__image gallery__grid-1"
      src="./assets/images/pastries/brownie.jpg"
      alt="Brownie, Cookie et Caramel Beurre Sal&eacute;" />
    <app-card-image
      class="gallery__image gallery__grid-2"
      src="./assets/images/pastries/choux.jpg"
      alt="Chouquettes fourr&eacute;es &agrave; la Diplomate Vanille et Caramel Beurre Sal&eacute;" />
    <app-card-image
      class="gallery__image gallery__grid-3"
      src="./assets/images/pastries/cheesecake-fruits-rouges.png"
      alt="Cheesecake aux Fruits Rouges" />
    <app-card-image
      class="gallery__image gallery__grid-4"
      src="./assets/images/pastries/layer-cake-fruits-rouges.png"
      alt="Layer cake Vanille Fruits Rouges" />
    <app-card-image
      class="gallery__image gallery__grid-5"
      src="./assets/images/pastries/tartelette-myrtille.jpg"
      alt="Tartelette Myrtilles et cr&egrave;me l&eacute;g&egrave;re Verveine" />
    <app-card-image
      class="gallery__image gallery__grid-6"
      src="./assets/images/pastries/cheesecake-compotee.png"
      alt="Cheesecake biscuit Speculoos et Compot&eacute;e de saison" />
    <app-card-image
      class="gallery__image gallery__grid-7"
      src="./assets/images/pastries/layer-cake-chocolat.png"
      alt="Layer Cake tout Chocolat" />
    <app-card-image
      class="gallery__image gallery__grid-8"
      src="./assets/images/pastries/finger.jpg"
      alt="Finger Mousse au beurre de Cacahu&egrave;tes, biscuit Brownie et Caramel Beurre Sal&eacute;" />
    <app-card-image
      class="gallery__image gallery__grid-9"
      src="./assets/images/pastries/tartelette-figue.jpg"
      alt=" Tartelette amandes aux Figues et quenelle Cannelle" />
    <app-card-image
      class="gallery__image gallery__grid-10"
      src="./assets/images/pastries/loaf-cake-olive.png"
      alt="Cake de Voyage Zestes d'Oranges, Huile d'Olive" />
  </div>
  <p class="gallery__disclaimer">
    Photos prises personnellement ou professionnellement par les différentes
    entreprises affiliées.
  </p>
</div>
