<div class="gallery__group">
  <app-h2-title>Portfolio</app-h2-title>

  <div class="gallery__content">
    <div class="gallery__images">
      <app-card-image
        class="gallery__image gallery__grid-1"
        src="./assets/images/pastries/brownie.jpg"
        legend="Brownie, Cookie et
Caramel Beurre Sal&eacute;"
        alt="Brownie, Cookie et Caramel Beurre Sal&eacute;" />
      <app-card-image
        class="gallery__image gallery__grid-6"
        src="./assets/images/pastries/choux.jpg"
        legend="Chouquettes fourr&eacute;es &agrave; la
Diplomate Vanille et 
Caramel Beurre Sal&eacute;"
        alt="Chouquettes fourr&eacute;es &agrave; la Diplomate Vanille et Caramel Beurre Sal&eacute;" />
      <app-card-image
        class="gallery__image gallery__grid-3"
        src="./assets/images/pastries/loaf-cake-olive.png"
        legend="Cake de Voyage
Zestes d'Oranges,
Huile d'Olive"
        alt="Cake de Voyage Zestes d'Oranges, Huile d'Olive" />
      <app-card-image
        class="gallery__image gallery__grid-7"
        src="./assets/images/pastries/tartelette-myrtille.jpg"
        legend="Tartelette Myrtilles et
cr&egrave;me l&eacute;g&egrave;re Verveine"
        alt="Tartelette Myrtilles et cr&egrave;me l&eacute;g&egrave;re Verveine" />
      <app-card-image
        class="gallery__image gallery__grid-2"
        src="./assets/images/pastries/tartelette-figue.jpg"
        legend="Tartelette amandes
aux Figues et
quenelle Cannelle"
        alt=" Tartelette amandes aux Figues et quenelle Cannelle" />
      <app-card-image
        class="gallery__image gallery__grid-8"
        src="./assets/images/pastries/finger.jpg"
        legend="Finger Mousse au 
beurre de Cacahu&egrave;tes,
biscuit Brownie et
Caramel Beurre Sal&eacute;"
        alt="Finger Mousse au beurre de Cacahu&egrave;tes, biscuit Brownie et Caramel Beurre Sal&eacute;" />
      <app-card-image
        class="gallery__image gallery__grid-9"
        src="./assets/images/pastries/cheesecake-compotee.png"
        legend="Cheesecake
biscuit Speculoos et
Compot&eacute;e de saison"
        alt="Cheesecake biscuit Speculoos et Compot&eacute;e de saison" />
      <app-card-image
        class="gallery__image gallery__grid-5"
        src="./assets/images/pastries/cheesecake-fruits-rouges.png"
        legend="Cheesecake aux
Fruits Rouges"
        alt="Cheesecake aux Fruits Rouges" />
      <app-card-image
        class="gallery__image gallery__grid-4"
        src="./assets/images/pastries/layer-cake-fruits-rouges.png"
        legend="Layer cake
Vanille Fruits Rouges"
        alt="Layer cake Vanille Fruits Rouges" />
      <app-card-image
        class="gallery__image gallery__grid-10"
        src="./assets/images/pastries/layer-cake-chocolat.png"
        legend="Layer Cake
tout Chocolat"
        alt="Layer Cake tout Chocolat" />
    </div>
    <p class="gallery__disclaimer">
      Photos prises personnellement ou professionnellement par les différentes
      entreprises affiliées.
    </p>
  </div>
</div>
