<div class="gallery__group">
  <app-h2-title>Portfolio</app-h2-title>

  <div class="gallery__images">
    <app-card-image
      class="gallery__image gallery__grid-1"
      src="./assets/images/pastries/brownie.png"
      alt="Brownie" />
    <app-card-image
      class="gallery__image gallery__grid-2"
      src="./assets/images/pastries/choux.png"
      alt="Choux" />
    <app-card-image
      class="gallery__image gallery__grid-3"
      src="./assets/images/pastries/gateau-groseille.png"
      alt="G&acirc;teau groseille" />
    <app-card-image
      class="gallery__image gallery__grid-4"
      src="./assets/images/pastries/layer-cake-rouge.png"
      alt="Layer cake" />
    <app-card-image
      class="gallery__image gallery__grid-5"
      src="./assets/images/pastries/gateau-myrtille.png"
      alt="Tartelette myrtille" />
    <app-card-image
      class="gallery__image gallery__grid-6"
      src="./assets/images/pastries/gateau-coco.png"
      alt="G&acirc;teau coco" />
  </div>
  <p class="gallery__disclaimer">
    Photos prises personnellement ou professionnellement par les différentes
    entreprises affiliées.
  </p>
</div>
