<div class="resume__group">
  <div class="resume__full">
    <app-h2-title>Mon CV</app-h2-title>

    <div class="resume__content">
      <!-- experience -->
      <div class="resume__experience">
        <h3 id="title__experience" class="resume__title">Exp&eacute;riences</h3>
        <ul>
          <li>
            <div>
              <h4 class="resume__company">
                <a href="https://petitepatisserie.fr/" target="_blank"
                  >La petite p&acirc;tisserie</a
                >
                — Sainte-Luce-sur-Loire
              </h4>
              <p class="resume__text">
                P&acirc;tisserie fine<br />
                P&acirc;tissi&egrave;re<br />
                D&eacute;cembre 2022 — Maintenant
              </p>
            </div>
          </li>
          <li>
            <div>
              <h4 class="resume__company">
                <a href="https://minoofi.fr/" target="_blank">Minoofi</a> —
                Marseille
              </h4>
              <p class="resume__text">
                Salon de Th&eacute; anglo-saxon<br />
                Seconde P&acirc;tissi&egrave;re<br />
                Septembre 2021 — Juin 2022
              </p>
            </div>
          </li>
          <li>
            <div>
              <h4 class="resume__company">
                <a href="https://ohmyb.fr/" target="_blank">Oh my biche</a> —
                Rennes
              </h4>
              <p class="resume__text">
                Coffee Shop, Cantine<br />
                Cheffe P&acirc;tissi&egrave;re<br />
                Octobre 2018 — Octobre 2020
              </p>
            </div>
          </li>
        </ul>
      </div>

      <!-- formation -->
      <div class="resume__formation">
        <h3 id="title__formation" class="resume__title">Formations</h3>
        <ul>
          <li>
            <div>
              <h4 class="resume__company">
                <a href="https://compagnons-du-devoir.com/"
                  >Mention Compl&eacute;mentaire P&acirc;tisserie, Glacerie,
                  Chocolaterie, Confiserie Sp&eacute;cialis&eacute;es</a
                >
                — N&icirc;mes
              </h4>
              <p class="resume__text">2017 — CFA Compagnons du Devoir</p>
            </div>
          </li>
          <li>
            <div>
              <h4 class="resume__company">
                <a href="https://compagnons-du-devoir.com/"
                  >CAP P&acirc;tisserie</a
                >
                — N&icirc;mes
              </h4>
              <p class="resume__text">2016 — CFA Compagnons du Devoir</p>
            </div>
          </li>
          <li>
            <div>
              <h4 class="resume__company">
                <a href="#">BAC G&eacute;n&eacute;ral</a>
                — Angers
              </h4>
              <p class="resume__text">2015</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
