/* base img */
.card__group {
  position: relative;
  a {
    color: currentColor;
  }
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__group--hover {
  cursor: pointer;
  transition: all 0.3s ease 0s;
  &:hover {
    transition: all 0.3s ease-in;
    transform: scale(1.025);
    opacity: 1;
  }
}

.card__text {
  position: absolute;
  top: 0;
  left: 0;

  margin: 1rem 0 1rem 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid currentcolor;
  border-image: linear-gradient(to right, currentcolor 40%, transparent 40%)
    100% 1;

  font-size: 1rem;
  font-weight: bolder;
}

/* popover */
.card__popover-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
}

.card__image--popover {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  transform-origin: left;
  overflow: auto;
  max-height: 90vh;
  max-width: 90vw;
}
