<!-- a11y disabled because its a simple modal -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="card__group card__group--hover" (click)="openImg()">
  <img class="card__image" src="{{ src }}" alt="{{ alt }}" />
  <p class="card__text">{{ legend }}</p>
</div>

@if (isFullScreen) {
  <div class="card__popover-overlay" (click)="closeImg()" (keyup)="closeImg()">
    <img class="card__image--popover" src="{{ src }}" alt="{{ alt }}" />
  </div>
}
