<div class="about__group">
  <app-h2-title> &Agrave; propos de moi </app-h2-title>
  <p class="about__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In volutpat quam
    volutpat urna euismod consequat. Nulla sollicitudin elementum scelerisque.
    Nam imperdiet suscipit convallis. Quisque quis nunc id sem pretium lobortis.
    Morbi nec quam tincidunt sem dictum congue. Integer at justo non erat
    volutpat sodales. Nulla facilisi. Curabitur quis scelerisque sem. Proin a
    elit velit. In hac habitasse platea dictumst. Nulla porta sed neque et
    placerat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed
    feugiat sapien sed nisi ultrices, et pellentesque ligula vulputate. Nullam
    condimentum, sem varius laoreet lacinia, diam arcu finibus nisi, vel
    hendrerit tortor dui vel purus. Vivamus faucibus lorem eget pretium
    bibendum. Nunc erat ante, luctus vitae ultricies ac, elementum eu sem. Proin
    pharetra, orci eget viverra laoreet, turpis ex lacinia leo, nec dapibus elit
    neque eu elit. Aenean ultricies consequat turpis sit amet cursus. Nullam nec
    aliquet nulla. Aenean non lectus feugiat, sagittis lorem vitae, euismod
    purus. Cras gravida tempus tincidunt. Donec tempus ultrices ipsum sed
    molestie. Sed sed tellus commodo, dictum elit suscipit, feugiat nulla. Donec
    quis nunc sagittis, aliquet orci et, tempus odio. Cras augue nulla, congue
    ut faucibus vel, dapibus non nibh.
  </p>
</div>
