<div class="about__group">
  <app-h2-title> &Agrave; propos de moi </app-h2-title>
  <p class="about__text">
    Passionn&eacute;e de desserts, mais surtout de Salon de th&eacute;s, je
    r&ecirc;ve depuis toujours d'ouvrir une boutique intimiste aux allures de
    Coffee Shop. Il y ferait bon d'y passer du temps et d'y d&eacute;couvrir de
    nouvelles saveurs.<br />
    Minimalistes ou mignonnes, aux tons pastel... C'est ce genre de
    p&acirc;tisseries auxquelles j'aimerai le plus me rapprocher aujourd'hui.<br />
    <br />
    Je suis fascin&eacute;e par les designs des Layers Cake Cor&eacute;ens
    (bento cakes). Les Layers Cake des Bakery Anglo-Saxonnes ont aussi beaucoup
    à apporter.<br />
    Ce qui me s&eacute;duit le plus c'est l'id&eacute;e d'offrir un g&acirc;teau
    plus m&eacute;morable, plus personnalisable aux personnes qu'on aime. C'est
    ce moment de cr&eacute;ation, en imaginant l'occasion sp&eacute;ciale, que
    j'appr&eacute;cie le plus dans mon m&eacute;tier.<br />
    <br />
    <strong
      >Que la P&acirc;tisserie fine devienne accessible et possible pour tous
      les moments, qu'elle soit immortalis&eacute;e pour les retrouvailles entre
      amis et qu'elle accompagne toutes les f&ecirc;tes au mieux.</strong
    ><br />
    <br />
    C'est pourquoi, j'esp&egrave;re un jour ouvrir ma boutique dans laquelle je
    cr&eacute;erai un univers pour que toutes et tous d&eacute;couvrent un lieu
    unique et reviennent pour sa proposition sucr&eacute;e.
  </p>
</div>
