:root {
  /* colors */
  --color-text-primary: #313131;
  --color-text-secondary: #919191;
  --color-text-tertiary: #ececec;

  --color-background-primary: #e6e5e3;
  --color-background-secondary: #232323;

  /* fonts */
  --font-primary: 'Lato';
  --font-secondary: 'Roboto Condensed', sans-serif;
  --font-quote: 'Bebas Neue', sans-serif;
}

body {
  margin: 0;
  background-color: var(--color-background-primary);

  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-family: var(--font-primary);
}

/* fonts imports */
@font-face {
  font-family: 'Bebas Neue';
  src: url('assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf');
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('assets/fonts/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato/Lato-Regular.ttf');
}
